body {
  background: #ff9966;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
}

h1 {
  color: white;
  font-size: 3em;
}

* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Dosis', sans-serif !important;
}

.chatbox {
  background: #fafafa;
  min-height: 350px;
  width: 300px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.21), 0px 30px 20px -10px rgba(0, 0, 0, 0.2), 0px 60px 20px -30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.chatbox__header {
  width: 100%;
  height: 50px;
  background: #ff9966;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatbox__header .title {
  color: #fff;
  text-align: center;
}
.chatbox__header svg {
  position: absolute;
  left: 20px;
  fill: white;
  transition: .3s ease-in-out;
}
.chatbox__header svg:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  transition: .3s ease-in-out;
}
.chatbox__body {
  height: 290px;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding: 10px 10px 20px;
}
.chatbox__body .message {
  display: block;
  width: auto;
  margin: 5px;
  align-self: flex-start;
  flex-direction: row;
  max-width: 60%;
  word-wrap: break-word;
}
.chatbox__body .message img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-animation: image 0.2s;
  /* Safari 4.0 - 8.0 */
  animation: image 0.2s;
}
.chatbox__body .message.receive {
  padding-left: 30px;
}
.chatbox__body .message.receive .message_text {
  margin-left: 10px;
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  animation: starkMessage .2s;
  -webkit-animation: starkMessage 0.2s;
  /* Safari 4.0 - 8.0 */
}
.chatbox__body .message.receive .message_text:before {
  position: absolute;
  content: " ";
  left: -5px;
  bottom: 0;
  border-right: solid 10px #fff;
  border-top: solid 10px transparent;
  z-index: 0;
}
.chatbox__body .message.receive img {
  position: absolute;
  left: 0;
  bottom: -15px;
}
.chatbox__body .message.sender {
  color: white;
  align-self: flex-end;
  padding-right: 30px;
}
.chatbox__body .message.sender .message_text {
  margin-right: 10px;
  background: #ff9966;
  background: linear-gradient(to left, #ff5e62, #ff9966);
  padding: 10px;
  border-radius: 3px;
  z-index: 99;
  animation: starkMessage .2s;
  -webkit-animation: starkMessage 0.2s;
  /* Safari 4.0 - 8.0 */
}
.chatbox__body .message.sender .message_text:after {
  position: absolute;
  content: " ";
  right: -5px;
  bottom: 0;
  border-left: solid 10px #ff5e62;
  border-top: solid 10px transparent;
  z-index: 0;
}
.chatbox__body .message.sender img {
  position: absolute;
  right: 0;
  bottom: -15px;
}
.chatbox__input {
  display: flex;
  width: 100%;
  background: #fff;
  height: 60px;
  border-top: .5px solid #efefef;
}
.chatbox__input input {
  flex: 3;
  padding: 1em 2em;
  outline: none;
  border: 0;
  letter-spacing: .1em;
}
.chatbox__input button {
  outline: none;
  border: 0;
  flex: 1;
  background: white;
}
.chatbox__input svg {
  fill: #ff9966;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dedede;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dedede;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dedede;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dedede;
  opacity: 1;
  /* Firefox */
}

@-webkit-keyframes starkMessage {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes starkMessage {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes image {
  from {
    bottom: -50px;
  }
  to {
    bottom: -15px;
  }
}
@keyframes image {
  from {
    bottom: -50px;
  }
  to {
    bottom: -15px;
  }
}
